.home {
  background: #f7fff6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px 18px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 14px #dcfdd2;
  max-width: 650px;
  text-align: center;
  z-index: 2;
}

.home-img {
  display: block;
  margin: 24px auto 0 auto;
  max-width: 390px;
  width: 90%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 6px 28px #000200;
}

.shop-link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: #388e3c;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 9px;
  transition: background-color 0.3s;
  font-size: 1.14rem;
  box-shadow: 0 2px 8px #b2deb2;
}

.shop-link:hover {
  background-color: #207c1d;
  color: #fff7b3;
}

.contact-info {
  margin-top: 2.3rem;
  font-size: 1.13em;
  color: #081808;
  background: #edffe9;
  padding: 13px 22px;
  border-radius: 14px;
  box-shadow: 0 2px 12px #d7efd7;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 3;
  font-weight: bold;
}
